<%= form_for(@kluster) do |f| %>
  <% if @kluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kluster.errors.count, "error") %> prohibited this kluster from being saved:</h2>

      <ul>
      <% @kluster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Kluster Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div id="kluster-photos">
    <%= f.label :documents, 'Photos in Kluster', :class => 'gfield_label' %>
    <% for doc in KlusterDocument.where(:kluster_id => params[:id]) %>
      <div class="kluster-photo" style="display: inline;">
        <%= link_to "#{image_tag doc.document.url(:thumb)}".html_safe, "#{doc.document.url()}", :target => "_blank"%>
        <i class="fa fa-ban delete-photo"> Delete</i>
      </div>
    <%end%>
  </div>
  <br />
  <div id="upload-photos">
    <%= f.fields_for :kluster_documents do |s| %>
      <% if s.object.new_record? %>
        <%= s.file_field :document, :name => 'kluster[kluster_documents_attributes][0][document]', :multiple => true %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
     <div>
        <%= f.submit (f.object.new_record? ? "Create Kluster" : "Update Kluster"), :class => "small button" %>
        <%= link_to 'Back', f.object.new_record? ? klusters_path : @kluster, :class => "small button" %>
     </div>
  </div>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"></div>
  </div>
</script>
