<%= form_for(@kluster) do |f| %>
  <% if @kluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kluster.errors.count, "error") %> prohibited this kluster from being saved:</h2>

      <ul>
      <% @kluster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
	<%= f.label :documents, 'Current Documents', :class => 'gfield_label' %>
	
	<% for doc in KlusterDocument.where(:kluster_id => params[:id]) %>
			 <li><%= link_to doc.document_file_name, "#{root_url}#{doc.document.url()}", :target => "_blank"%></li>
				<%if doc.document_file_name.nil? %>
					<%=logger.info("@@@DOC NIL")%>
				<%end%>
	<%end%>
	<br/>
	<%= f.label :documents, "Upload Additional Documents(4MB Max)", :class => 'gfield_label' %> 	
	<%= f.fields_for :kluster_documents do |s| %>
		<% if s.object.new_record? %>
			<p>
				<%= s.file_field :document, :title => 'Title1' %>
			</p>
		<%end%>
	<% end %>
  <div class="actions">
     <div><%= f.submit "Enter", :class => "small button" %></div>
  </div>
<% end %>
