<p id="notice"><%= notice %></p>

<p>
  <strong>Kluster Name:</strong>
  <%= @kluster.name %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @kluster.user.email %>
</p>

<p>
  <strong>Photos in Kluster</strong>
	<ul>
		<% for doc in KlusterDocument.where(:kluster_id => params[:id]) %>
		  <%= link_to "#{image_tag doc.document.url(:thumb)}".html_safe, "#{doc.document.url()}", :target => "_blank"%>
		<%end%>
  </ul>
</p>
<div>
  <%= link_to 'Edit Kluster', edit_kluster_path(@kluster), :class => "small button" %>
  <%= link_to 'Back', klusters_path, :class => "small button" %>
</div>
