<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kluster.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kluster.description %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @kluster.user %>
</p>

<p>
  <strong>Documents in Kluster</strong>
  <% @kluster.documents do |doc| %>
  <% end %>
</p>

<%= link_to 'Edit', edit_kluster_path(@kluster) %> |
<%= link_to 'Add Document to Kluster', new_document_path(@kluster) %> |
<%= link_to 'Back', klusters_path %>
